<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kevindingens.firstapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Hungry in South Bend?"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDkg2wJq0Pq94JFmYncY4pwyEMgHjuuEd0"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DisplayMessageActivity"
            android:label="Search Food"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DisplayCategory"
            android:label="Search Categories"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DisplayPopular"
            android:label="Search Popular"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DisplayOnCampus"
            android:label="Search On Campus"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DisplayRestaurant"
            android:label="Peep this"
            android:theme="@style/AppTheme"/>
        <activity android:name=".DisplayWebView"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
